.forgot-password {
    margin-top: 10px;
    text-align: right;
}

.forgot-password a {
    color: #4CAF50; /* Green */
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.reset-password-form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none; /* Hide reset password form initially */
}

#send-reset-link {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
